In [1]:
import pandas as pd
users = {'first_name': ['Montgomery', 'Dagmar', 'Reeba', 'Shalom', 'Broddy', 'Aurelia'],
         'last_name': ['Humes', 'Elstow', 'Wattisham', 'Alen', 'Keningham', 'Brechin'],
         'age': [27, 41, 29, 29, 21, 33],
         'gender': ['Male', 'Female', 'Female', 'Male', 'Male', 'Female'], 
         'sales': [92, 65, 56, 59, 26, 65]}
df = pd.DataFrame(users)

In [2]:
df

   first_name  last_name  age  gender  sales
0  Montgomery      Humes   27    Male     92
1      Dagmar     Elstow   41  Female     65
2       Reeba  Wattisham   29  Female     56
3      Shalom       Alen   29    Male     59
4      Broddy  Keningham   21    Male     26
5     Aurelia    Brechin   33  Female     65

In [3]:
df['sales'] = df['sales'].astype('float64')

In [6]:
df.dtypes

first_name     object
last_name      object
age             int64
gender         object
sales         float64
dtype: object